<div class="layout">
  <app-sidebar
    [isOpen]="isSidebarOpen"
    [isMobile]="isMobile"
    (closeSidebar)="closeSidebar()">
  </app-sidebar>

  <div
    class="overlay"
    *ngIf="isMobile && isSidebarOpen"
    (click)="closeSidebar()">
  </div>

  <div class="main-area">
    <app-header
      [isMobile]="isMobile"
      [pageTitle]="pageTitle"
      [pageSubtitle]="pageSubtitle"
      (menuClick)="toggleSidebar()">
    </app-header>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>