<header class="header">
    <div class="header-left">
        <button class="menu-btn" *ngIf="isMobile" (click)="menuClick.emit()">
            <span class="material-icons">menu</span>
        </button>

        <div class="header-title">
            <h2>{{ pageTitle }}</h2>
            <p>{{ pageSubtitle }}</p>
        </div>
    </div>

    <div class="header-actions">

        <button class="icon-btn" (click)="toggleDarkMode()">
            <span class="material-icons">
                {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
            </span>
        </button>
        
        <button class="icon-btn">
            <span class="material-icons">notifications</span>
        </button>

        <button class="icon-btn">
            <span class="material-icons">search</span>
        </button>

        <div class="profile-box">
            <div class="avatar">AO</div>
            <div class="profile-info">
                <strong>Abdo</strong>
                <span>Admin</span>
            </div>
        </div>
    </div>
</header>